h1{
background-color:black;
color:white;
}
#dropdown{
position:relative;
left:45%;
}
#demo
{
font-size:20px;
font-style:bold;
}
#demo1
{
font-size:20px;
color:blue;
font-style:bold;
}
table,th,td
{
border-collapse:collapse;
width:10%;
}
table,th,td
{
border:1px solid black;
}
#demo2{
color:white;
font-size:20px;
font-style:bold;
}
#sub
{
font-size:20px;
color:blue;
font-style:bold;
}
#demo4
{
text-transform: capitalize;
color:white;
font-size:20px;
font-style:bold;
} 
#submit
{
border-radius:8px;
padding:10px 20px;
background-color: #e7e7e7; 
color: black;
}
#continue
{
border-radius:8px;
padding:10px 20px;
background-color: #e7e7e7; 
color: black;
}
#newtypes
{
border-radius:8px;
padding:10px 20px;
background-color: #e7e7e7; 
color:black;
}