h1
{
font-size:50px;
font-style:bold;
}
#lang{
position:relative;
left:45%;
right:auto;
text-align:center;
font-size:18px;
width:200px;
height:50px;
}
#demo
{
color:blue;
font-size:30px;
text-align:center;
}
#demo1
{
color:blue;
font-size:25px;
text-align:center;
font-style:italic;
}