h1
{
font-size:50px;
font-style:bold;
}
#lang{
position:relative;
left:45%;
right:auto;
text-align:center;
font-size:18px;
width:200px;
height:50px;
}
#demo
{
color:darkblue;
font-size:29px;
text-align:center;
}
#demo1
{
color:blue;
font-size:30px;
text-align:center;
font-style:italic;
}
#ans
{
position:absolute;
left:35%;
right:auto;
}
#display
{
position:absolute;
left:35%;
right:auto;
}
#demo3
{
color:blue;
text-align:center;
font-size:30px;
font-style:bold;
}
#demo4
{
color:red;
text-align:center;
font-size:20px;
font-style:bold;
}